/*===========================================================*/
/*Global Styles =============================================*/

/*html, body ------------------------------------------------*/
html, body {
  min-height: 100dvh;
  line-height: 1.6;
  letter-spacing: 0.02em;
  background: var(--color-background);
  font: var(--font-text);
  color: var(--color-text);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*typography ------------------------------------------------*/
h1{
  font: var(--font-title);
  color: var(--color-title);
}

h2{
  font: var(--font-subtitle);
  color: var(--color-subtitle);
}

p, label, span {
  font: var(--font-text);
  color: var(--color-text);
}

main h1, main h2, main p{
  margin-bottom: 1rem;
}


/*input, textarea, select -----------------------------------*/
input, textarea, select {
  font: var(--font-text);
  background-color: var(--color-surface-2);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  padding: 6px 8px;
  border-radius: 8px;
  transition: border 0.2s ease, box-shadow 0.2s ease;
  outline: none;
}

textarea {
  resize: vertical;
}

input:hover,textarea:hover,select:hover {
  border-color: var(--color-accent);
}

/*a ---------------------------------------------------------*/
a{
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

a:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

/*button ----------------------------------------------------*/
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: var(--font-text);
  color: var(--color-on-accent);
  background: var(--color-accent);
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  border: 1px solid var(--color-accent);
  box-shadow: var(--shadow-md);
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

button:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

button:active { 
    transform: scale(0.98);
}

/*scrollbar -------------------------------------------------*/
html { 
  scrollbar-width: thin;
  scrollbar-color: var(--color-surface-2) var(--color-surface-1);
}

::-webkit-scrollbar {
  background-color: var(--color-surface-1);
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-surface-2);
  border: solid 1px var(--color-border);
  border-radius: 5px;
}

/* Accessibility -------------------------------------------*/

/*rolagem suave para âncoras internas*/
@media (prefers-reduced-motion: no-preference) {html {scroll-behavior: smooth;}}

/*quando um elemento estiver em foco*/
:focus-visible, input:focus,textarea:focus,select:focus, button:focus-visible {
  outline: 1px solid var(--color-accent);
  outline-offset: 4px;
}

/*quando um texto for selecionado*/
::selection {
  background: var(--color-accent);
  color: white;
}